/* CSS Document */
body {
	background: #5EADCC url(../images/body-bg.jpg) no-repeat center top;
	
	color: #666;
}
#header {
	position: relative;
	height: 160px;
}
#main-nav {
	width: 100%;
	background: #3985BF;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
	/* gradient */
	background: #3985BF url(../images/nav-bar-bg.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#3985BF));
	background: -moz-linear-gradient(top,  #b9b9b9,  #3985BF);
	background: linear-gradient(-90deg, #b9b9b9, #3985BF);
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}
#main-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}
#main-nav li:first-child {
	margin-left: 10px;
}
#main-nav a {
	line-height: 100%;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 14px 15px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
#pics{
	
	text-align:center;
}
#pics li {
	
	list-style: none;
	
	position: relative;
}

#page{

padding: 20px 10px;

}
.row{
	
	 margin: 30px 0px 30px 0px;
}
.row div{
     background: #fff;
	/* margin: 30px 10px 30px 10px;*/
	padding: 20px 10px;
	min-height:100px;
/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	
}

.post {
	margin-bottom: 40px;
}

.post-image {
	margin: 10px 0 15px;
	
}

#content figure{
	margin: 10px 0px 10px 0px;
	clear: both;
	
}

#note ul {
	margin: 0;
	padding: 0;
}
#note li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }

#footer {
	clear: both;
	color: #ccc;
	font-size: 85%;
	margin:0 auto;
	width:100%;
	text-align:center;
}
#foot-nav{
	
	width:20%;
	
}
#foot {
	width: 80%;
	clear:both;
	background: #3985BF;
	margin-left: 30px;
	padding: 0;
	position: relative;
	left: 0;
	bottom: 0;
	z-index: 100;
	text-align:center;
	/* gradient */
	background: #3985BF url(../images/nav-bar-bg.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#3985BF));
	background: -moz-linear-gradient(top,  #b9b9b9,  #3985BF);
	background: linear-gradient(-90deg, #b9b9b9, #3985BF);
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}
#foot li {
	margin: 20px,0px,10px,0px;
	padding: 10px;
	list-style: none;
	float: left;
	position: relative;
	
	clear:both;
}
#foot li:first-child {
	/*margin-left: 10px;*/
}
#foot button {
	line-height: 100%;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 14px 15px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
/* searchform */
#searchform {
	position: absolute;
	right: 10px;
	bottom: 6px;
	z-index: 100;
	width: 160px;
}
#searchform #s {
	width: 140px;
	float: right;
	background: #fff;
	border: none;
	padding: 6px 10px;
	/* border radius */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/* box shadow */
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	/* transition */
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition: width .7s;
}
#content a{
	float:right;
	margin: 5px 0px 10px 0px;
}

#img0{
  width:50%;
  /*height:50%;*/  
}