html,body,h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color: #2D5CB8;
}
a:hover{
    color: #095f8a;
}
ul li{
    list-style: none;
}
body {
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.clearfix{
    *zoom:1;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}

/*页面头部*/
body header {
    width:100%;
    height:50px;
    background-color: #0E90D2;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1001;
}
body header h1{
    font-size: 2rem;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1.2px;
}

/*列表内容 头部*/
.container {
    /*width: 1000px;*/
    overflow: hidden;
}
.container .newsheader{
    width:100%;
    height:50px;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1001;

    text-align:center ;
    background: #f5f5f5;
    background: -moz-linear-gradient(top,rgba(249,249,249,.98),rgba(245,245,245,.98) 100%);
    background: -webkit-gradient(linear,0 0,0 100%,from(rgba(249,249,249,.98)),to(rgba(245,245,245,.98)));
}
.container .newsheader  li{
    padding: 15px 0 10px;
    color: #0e90d2;
    display: inline-block;
    width: 30%;
}
.container .newsheader li a{
    color: #999;
    display: block;
    height: 100%;
    width: 100%;
}
.container .newsheader li a:hover {
    color: #0e90d2;
}
.container .newsheader h2.active{
    font-size: 1.6rem;
    color: #0e90d2;
    padding-bottom: 8px;
    border-bottom: 2px solid;
    display: inline-block;
}
.container .newsheader h2{
    font-size: 1.6rem;
    padding: 0 8px;
    display: inline-block;
}
/*内容包裹层*/
.containwarp{
    position: relative;
    width: 8000px;
}
/*列表文章内容*/
.newslist{
    margin:50px 10px 0;
    position: relative;
    width: 2500px;
    display: inline-block;
    float: left;
}
.containwarp>div>ul>li{
    position: relative;
    display: block;
    height:48px;
    line-height: 48px;
    background-color: #fff;
    border-bottom:1px solid #dedede;
}
.containwarp>div>ul>li a.newstitle {
    font-size: 1.5rem;
    color: #0E90D2;
    font-weight: 500;
    padding-right: 60px;
    display: block;
    width: 70%;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.containwarp>div>ul>li a.newstitle:hover{
    color: #095f8a;
}
.containwarp>div>ul>li span.newdate {
    position: absolute;
    right: 20px;
    color: #999;
    top: 0px;
}
/*故事集*/
.storylist{
    margin:50px 10px 0;
    position: relative;
    width: 2500px;
    float: left;
    display: inline-block;

}
/*视频集*/
.videolist{
    margin:50px 10px 0;
    position: relative;
    float: left;
    width: 2500px;
    display: inline-block;

}
.videolist ul.videoul li.videoli{
    position: relative;
    display: block;
    height: 60px;
    /* line-height: 48px; */
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
    /* background-color: #F5F5F5; */
}
.videolist ul.videoul li.videoli div.video_flag{
    position: absolute;
    left: 5px;
    bottom: 14px;
    width: 18px;
    height: 18px;
    background: url(../img/video_flag.png);
    background-size: cover;
}
.videolist ul.videoul li.videoli img.leftimg{
    float: left;
    width: 75px;
    height: 60px;
}
.videolist ul.videoul li.videoli div.newscontent {
    display: inline-block;
    margin-left: 2px;
    font-size: 1.5rem;
    color: #0E90D2;
    font-weight: 500;
    line-height: 20px;
    width: 70%;
    height: 100%;
}
.videolist ul.videoul li.videoli div.newscontent .title{
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;

}
.videolist ul.videoul li.videoli div.newscontent .title a{
    font-size: 1.7rem;
}
.videolist ul.videoul li.videoli a.newstitle:hover{
    color: #095f8a;
}
.videolist ul.videoul li.videoli .newscomment{
    color: #999;
    font-size: 13px;
    margin-top:2px; 
    overflow: hidden;
}

/*底部导航页码*/
.footbar{
    margin: 70px 0;
    /*float: right;*/
    text-align: center;
}
.footbar ul.pagination li{
    display: inline;
    /*dispaly:inline-block;*/
    background-color: #fafafa;
}
.footbar ul.pagination li a{
    position: relative;
    border: 1px solid #ddd;
    padding: 6px 12px;
    margin: 0 -4px 0 0;
    /*float: left;*/
}
.footbar ul.pagination li a:hover{
    background-color: #eaeff2;
}
.footbar ul.pagination li.active a{
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
}
