html,body,h1,h2,h3,h4,h5,h6,ul{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color: #2D5CB8;
}
a:hover{
    color: #095f8a;
}
ul li{
    list-style: none;
}
body {
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.clearfix{
    *zoom:1;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}

/*页面头部*/
body header {
    width:100%;
    height:50px;
    background-color: #0E90D2;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1001;
}
body header h1{
    font-size: 2rem;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1.2px;
}

/*列表内容 头部*/
.container {
    margin: 10px;
    margin-top: 50px;
}
.container .newsheader {
    padding: 15px 0 10px;
    color: #0e90d2;
}
.container .newsheader a{
    display: inline-block;
    color: #0e90d2;
}
.container .newsheader a:hover {
    color: #2D5CB8;
}
.container .newsheader h2{
    font-size: 1.6rem;
    color: inherit;
}
.container .newsheader span:hover{
    color: #2D5CB8;
    cursor: pointer;
}
.container .newsheader span {
    font-size: 1.3rem;
    height: 2rem;
    line-height: 2rem;
    float: right;
}

/*新闻列表 内容*/
.newslist ul li{
    position: relative;
    display: block;
    height:48px;
    line-height: 48px;
    margin-bottom: -1px;
    background-color: #fff;
    border:solid #dedede;
    border-width: 1px 0;
}
.newslist ul li a.newstitle {
    font-size: 1.5rem;
    color: #0E90D2;
    font-weight: 500;

    padding-right: 60px;
    display: block;
    width: 70%;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.newslist ul li a.newstitle:hover{
    color: #095f8a;
}
.newslist ul li span.newdate {
    position: absolute;
    right: 3px;
    color: #999;
    top: 0px;
}

/*底部导航页码*/
.footbar{
    /*margin: 10px;*/
    /*float: right;*/
    text-align: center;
}
.footbar ul.pagination li{
    display: inline;
    /*dispaly:inline-block;*/
    background-color: #fafafa;
}
.footbar ul.pagination li a{
    position: relative;
    border: 1px solid #ddd;
    padding: 6px 12px;
    margin: 0 -1px 0 0;
    /*float: left;*/
}
.footbar ul.pagination li a:hover{
    background-color: #eaeff2;
}
.footbar ul.pagination li.active a{
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
}
