html,body,h1,h2,h3,h4,h5,h6,ul,p,a,div{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color: #2D5CB8;
}
a:hover{
    color: #095f8a;
}
ul li{
    list-style: none;
}
body {
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.clearfix{
    *zoom:1;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}

/*页面头部*/
body header {
    width:100%;
    height:50px;
    background-color: #0E90D2;
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1001;
}
body header h1{
    font-size: 2rem;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1.2px;
}

/*列表内容 头部*/
.container {
    margin: 10px;
    margin-top: 50px;
}
.container .newsheader {
    padding: 15px 0 10px;
    color: #0e90d2;
    margin-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;
}
.container .newsheader a{
    display: inline-block;
    color: #0e90d2;
}
.container .newsheader a:hover {
    color: #2D5CB8;
}
.container .newsheader h2{
    font-size: 1.6rem;
    color: inherit;
}
.container .newsheader span:hover{
    color: #2D5CB8;
    cursor: pointer;
}
.container .newsheader span {
    font-size: 1.3rem;
    height: 2rem;
    line-height: 2rem;
    float: right;
}

/*新闻列表 内容*/
.newslist ul li{
    position: relative;
    display: block;
    height: 60px;
    /* line-height: 48px; */
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
    /* background-color: #F5F5F5; */
}
.newslist ul li div.video_flag{
    position: absolute;
    left: 5px;
    bottom: 14px;
    width: 18px;
    height: 18px;
    background: url(../img/video_flag.png);
    background-size: cover;
}
.newslist ul li img.leftimg{
    float: left;
    width: 75px;
    height: 100%;
}
.newslist ul li div.newscontent {
    display: inline-block;
    margin-left: 2px;
    font-size: 1.5rem;
    color: #0E90D2;
    font-weight: 500;
    line-height: 20px;
    width: 74%;
    height: 100%;
}
.newslist ul li div.newscontent .title{
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;

}
.newslist ul li div.newscontent .title a{
    font-size: 1.7rem;
}
.newslist ul li a.newstitle:hover{
    color: #095f8a;
}

.newscomment{
    color: #999;
    font-size: 13px;
    margin-top:2px; 
    overflow: hidden;
}

/*底部导航页码*/
/*.footbar{
    text-align: center;
}
.footbar ul.pagination li{
    display: inline;
    background-color: #fafafa;
}
.footbar ul.pagination li a{
    position: relative;
    border: 1px solid #ddd;
    padding: 6px 12px;
    margin: 0 -1px 0 0;
}
.footbar ul.pagination li a:hover{
    background-color: #eaeff2;
}
.footbar ul.pagination li.active a{
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
}
*/

/*点击加载更多*/
.loadbar{
    height: 30px;
    line-height: 30px;
    margin: 0 20px 20px;
    background: #dedede;
    border-radius:5px;
    text-align: center;
    cursor: pointer;
    color: #999;
}
.loadpic{
    text-align: center;
}