/*内容区域 改变颜色*/
.maincontainer::after{
    background: #fff;
    content: "";
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: -1;
    border: 1px solid #ccc;
    border-width: 0 1px 0 0;
}
/*提示框*/
.alert {
    color: #468847;
    background-color: #dff0d8;
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    padding-left: 30px;
    margin: 10px;
    border: 1px solid  #d6e9c6;
}
button.close {
    float: right;
    position: relative;
    top: 8px;
    right: 10px;
    color: #888;
    padding: 10px 10px;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}