body,h1,h2,h3{
    margin: 0;
    padding: 0;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
}
a{
    text-decoration:none;
}
ul li{
    list-style: none;
}
body {
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.clearfix{
    *zoom:1;
}
/*头部导航*/
header {
    height: 50px;
    width: 100%;
    background-color: #0E90D2;
    color:#fff;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 1001;
}
header h1{
    /*16px = 1 em*/
    font-size: 2rem;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 1.2px;
}
/*公司地址头部*/
.container {
    margin-top: 50px;
    margin-right: 6px;
    margin-left: 6px;
}
.container .navheader {
    margin: 10px 0px 0 5px;
    padding: 10px 0 10px;
    border-bottom: 1px solid #DEDEDE;
}
.container .navheader a{
    color: #0e90d2;
}
.container .navheader a:hover{
    color: #2D5CB8;
}
.container .navheader h2{
    display: inline-block;
    float: left;
    font-size: 1.6rem;
    color: inherit;
}
/*.container .navheader span{
    float: right;
    color: inherit;
}*/
input.inputclass {
    float: right;
    border-radius: 15px;
    width: 15%;
    box-shadow:none;
    background:none;
}
i.fa.fa-search.right {
    color: #757575;
    position: absolute;
    right: 8px;
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
    width: 15px;
}
i.fa.fa-search.right:hover{
    color: #0E90D2;
    /*background-color: #DEDEDE;*/
}
/*公司地址列表*/
.navcontainer ul,.navcontainer li{
    margin: 0;
    padding: 0;
}
.navcontainer ul li {
    height: 120px;
    background-color: #F5F5F5;
    margin: 10px 0 0 0;
    padding:0;
}
.navcontainer ul li .imgdiv{
    float: left;
    width: 30%;
    /*border: 1px solid #0E90D2;*/
    height: 100%;
}
.navcontainer ul li .imgdiv img{
    float: left;
    width: 100%;
    height: 100%;
}
.navcontainer ul li div.company{
    /*border: 1px solid #DEDEDE;*/
    border-top: 1px  solid #DEDEDE;
    border-bottom: 1px  solid #DEDEDE;
    float: left;
    padding-left: 10px;
    height: inherit;
    width: 50%;
}
.navcontainer ul li div.company a{
    color: #0e90d2;
    display: inline-block;
    margin-top: 10px;
}
.navcontainer ul li div.company a h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.navcontainer ul li div.company a h3:hover{
    color: #2D5CB8;
}
.navcontainer ul li div.company p{
    margin:10px 0 0 0;
    padding: 0;
    color: #757575;
    max-height: 30px;
    overflow: hidden;
    /*letter-spacing: 1px;*/
}
.navcontainer ul li div.company p i{
    padding-right: 5px
}
.navcontainer ul li div.gobtn {
    float: right;
    width: 15%;
    height: 120px;
    overflow: hidden;
    /*line-height: 120px; *//*这里会导致下移*/
}
.navcontainer ul li div.gobtn button{
    height: inherit;
    float: right;
    color: #fff;
    border: solid 0px #000;
    background-color: #0e90d2;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
}
.navcontainer ul li div.gobtn button:hover{
    background-color: #fff;
    color: #0E90D2;
    border: 1px solid #0E90D2;
}
/*底部导航*/
.footbar {
    /*margin-bottom: 50px;*/
    line-height: 6.6;
    border-bottom: 1px solid #DBD2D2;
}
.footbar div.leftpre {
    float: left;
    width: 40%;
}
.footbar div.rightnex {
    float: right;
}
.footbar div a{
    padding: .5em 1em;
    text-decoration: none;
    color: #0E90D2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
/*两种样式*/
.footbar div a:focus,.footbar div a:hover{
    background-color: #eaeff2;
}
/*.footbar div a:focus,.footbar div a:hover{*/
    /*color: #999;*/
    /*background-color: #fff;*/
    /*border-color: #ddd;*/
    /*cursor: not-allowed;*/
    /*pointer-events: none;*/
/*}*/


